[project]
	description = Doctrine Database Migrations Library
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Hung, Nguyen Thanh (hungkoala)
[access "refs/for/refs/*"]
	read = group user/Hung, Nguyen Thanh (hungkoala)
	push = group user/Hung, Nguyen Thanh (hungkoala)
	label-Code-Review = -2..+2 group user/Hung, Nguyen Thanh (hungkoala)
	label-Verified = -1..+1 group user/Hung, Nguyen Thanh (hungkoala)
	rebase = group user/Hung, Nguyen Thanh (hungkoala)
	removeReviewer = group user/Hung, Nguyen Thanh (hungkoala)
	submit = group user/Hung, Nguyen Thanh (hungkoala)
[access "refs/heads/*"]
	read = group user/Hung, Nguyen Thanh (hungkoala)
	create = group user/Hung, Nguyen Thanh (hungkoala)
	push = +force group user/Hung, Nguyen Thanh (hungkoala)
	pushMerge = group user/Hung, Nguyen Thanh (hungkoala)
[access "refs/tags/*"]
	push = +force group user/Hung, Nguyen Thanh (hungkoala)
	pushTag = group user/Hung, Nguyen Thanh (hungkoala)
	pushSignedTag = group user/Hung, Nguyen Thanh (hungkoala)
